<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MAS_URL" value="https://eservices.mas.gov.sg/api/action/datastore/search.json?"/>
    <add key="ResourceId_Monthly" value="5f2b18a8-0883-4769-a635-879c63d3caac"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>